{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}Utilisateurs
{% endblock %}

{% block body %}

    {% include'admin/inc/_navAdmin.html.twig' %}

    {% for utilisateurActif in utilisateursActif %}
        <ul>
            <li>{{ utilisateurActif.nom }}</li>
        </ul>
    {% endfor %}

{% endblock %}



