{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Annuler</a>
{% endblock %}
